<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="2Hand-StillGood"
        android:supportsRtl="true"
        android:theme="@style/Theme.TryAgain"
        tools:targetApi="31">
        <activity
            android:name=".Activity.User_Bank_Information_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Bank_User_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Add_Banks_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Bank_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Add_User_Information_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Edit_User_Infor_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.End_Process_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.History_Parent_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Payment_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.SearchProduct_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Detail_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Cart_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Product_Page_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.User_Information_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.SignUp_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false" />
    </application>

</manifest>